{% extends "_common.twig" %}

{% block content %}
<div class="container-fluid">
<h1>Страница не найдена</h1>
<p>Попробуйте начать со стартовой <a href="/">страницы</a></p>
<p><a href="/" class="btn btn-primary btn-large">Перейти</a></p>
</div>
{% endblock %}

